body {
     background-color: deepskyblue;
 }

h1 {
    color: red;
}

p {
    font-family: verdana;
    color: red;
    text-align: center;

;
}
strong {
    color: red;
}

div.menu-bar li:hover > ul {
    display: block;
}
strong {
    color: red;
}

div.menu-bar li:hover > ul {
    display: block;
    color: red;
}
span {
    background-color: deepskyblue;
}
div {
    color: red;
    width: 200px;
}
